body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px 0px 0px;
    z-index: 0;
    background-color: rgba(90, 153, 155, 0.22);
    /* background-color: aliceblue; */
    /* background-image: linear-gradient(to bottom right, red, hsl(293, 83%, 82%), hsl(184, 100%, 50%)); */
}

.row-content {
    margin: opx auto;
    padding: 40px 0px 40px 0px;
    border-bottom: 1px ridge;
    min-height: 100px;
}

.jumbotron {
    /* background-color: white; */
    background-color: rgba(105, 153, 155, 0.1);
    padding: 30px 0px 30px 0px;
}

.footer {
    /* background-color: hsl(178, 75%, 90%); */
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.navbar {
    background-color: rgba(90, 153, 155, 0.22);
    /* background-image: linear-gradient(to top right, rgba(114, 0, 151, 0.816), white); */
    color: white;
    border-radius: 1%;
}

#im1 {
    height: 200px;
    overflow-x: hidden;
    border-radius: 50%;
    z-index: 3;
}

.custom-toggler .navbar-toggler-icon {
    padding: 5px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
    padding: 3px;
}

#p1 {
    padding: 2px 0px 2px 0px;
}

#im2 {
    height: 240px;
    overflow-x: hidden;
    /* border-radius: 50%; */
    z-index: 3;
    padding: 0px 0px 20px 0px;
}

.checked {
    color: orange;
}

.fa-star-half-o {
    color: orange;
}

.unchecked {
    color: rgba(255, 255, 255, 0.844);
}

@media only screen and (min-width: 576px) {
    #im2 {
        display: block;
        margin-left: 28%;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: auto;
        height: 160px;
        width: 144px;
    }
}

@media only screen and (min-width: 768px) {
    #im2 {
        display: block;
        margin-left: 33%;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: auto;
        height: 180px;
        width: 162px;
    }
}

@media only screen and (min-width: 992px) {
    #im2 {
        margin-top: 50px;
        height: 200px;
        width: 180px;
    }
}

.text1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.text1 .letter {
    display: inline-block;
    line-height: 1em;
}